.contenedor_Detail {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    gap: 100px;

    .desc_Detail,
    .botones_Detail {
        border: 0cap;
        margin-top: 50px;
        margin-bottom: 50px;

        p {
            font-size: 150%;

        }
    }


}