.container {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 50px;

}
.carritoIcono{
    max-width: 40px;
    max-height: 40px;
}

.carritoTexto {
    font-size: 25px;
    
}